@charset "utf-8";
@import "~bulma/bulma";

.main {
    margin: 0 auto 0 auto;
    max-width: 1500px;
    padding: 2em;
}

.tick line, path.domain {
    stroke: rgb(212, 214, 212);
}

g.tick {
    font-size: 1.5em;
}

